obsidian/.config/obsidian/*
!obsidian/.config/obsidian/app.json
!obsidian/.config/obsidian/appearance.json
!obsidian/.config/obsidian/core-plugins.json
!obsidian/.config/obsidian/core-plugins-migration.json
!obsidian/.config/obsidian/hotkeys.json
!obsidian/.config/obsidian/templates.json